table{
  width: 100%;
  tr{
    padding: 5px;
      td{
        padding:  10px;
      }
      &:nth-child(odd){
        background: lighten(#2D2D2D, 80);
      }
      &.date{
          background: #2D2D2D;
            td{
                color:#fff;
                text-transform: uppercase;
                width: 100%;
                text-align: left;
            }
      }
  }
} 

header{
  margin-bottom: 50px;
}

.submit{
  float: right !important;
  padding: 10px 15px !important;
  margin: 20px 0 0 0;
  cursor: pointer;
  &:hover{
    background: #2D2D2D;
    color: #fff;
  }
}