extends layout
block title
    title World Cup 2014 - Predictions
block header
    header
        img(class='logo',src='http://www.saddingtonbaynes.com/media/img/sadsLogo_black.png',alt='Saddington Baynes')
        nav    
            ul(class='top-navigation')
                    li
                        a(href='/',title='League Table') Predictions
                    li(class='active')
                        a(href='/league',title='League Table') League Table
                    li
                        a(href='/results',title='Results') Results
                    li
                        a(href='/logout',title='Logout') Logout
            div(class='user-loggedin')
                div(class='user-avatar')
                    img(src='img/uploads/'+(user.display_image||'temp.png'))
                div(class='user-name')
                    a(href='#', class='link')= '' + user.fname + " " + user.lname
block content
    table(cellspacing='0', cellpadding='2',border='0')
        tr(class='date')
            td(colspan='2')= 'League'
        each user in users
                tr
                    td= user.fname + " " + user.lname
                    td= user.points

block require
    script.
        require(['js/common'], function (common) {
            require([ 'app/allUsers' ]);
        });
